.Main {
  text-align: center;
}

.Main-logo {
  animation: Main-logo-spin infinite 20s linear;
  height: 80px;
}

.Main-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}
.Main-Navbar {
  background-color: linen;
}
.Main-Navbar Button {
  background-color: lightgoldenrodyellow;
  padding: 10px;
}

/*Ginnah Component*/
.AllGinnah {
  padding: 30px;
}
.Ahref-link {
  font-size: 10px;
}
.Ginnah-Display {
  font-size: 12px;
}
.AllGinnahs-container {
}
.AllGinnahs-Add {
  float: left;
}
.AllGinnahs-Display {
  float: right;
}
.AddGinnah-form{
  font-size: 12px; 
}
.AddGinnah-form button {
  margin-top: 20px;
  width: 100%;
}
.ShowGinnah-Button{
  margin-top: 10px;
  height: 50px;
  width: 30%;
}

/*Kakia Component*/
.AllKakia {
  padding: 30px;
}
.Kakia-Display {
  font-size: 12px;
}
.AllKakias-container {
}
.AllKakias-Add {
  float: left;
}
.AllKakias-Display {
  float: right;
}
.AddKakia-form{
  font-size: 12px; 
}
.AddKakia-form button {
  margin-top: 20px;
  width: 100%;
}
.ShowKakia-Button{
  margin-top: 10px;
  height: 50px;
  width: 30%;
}

/*Tao Components*/
.AllTao {
  padding: 30px;
}
.Ahref-link {
  font-size: 10px;
}
.Tao-Display {
  font-size: 12px;
}
.AllTaos-container {
}
.AllTaos-Add {
  float: left;
}
.AllTaos-Display {
  float: right;
}
.AddTao-form{
  font-size: 12px; 
}
.AddTao-form button {
  margin-top: 20px;
  width: 100%;
}
.ShowTao-Button{
  margin-top: 10px;
  height: 50px;
  width: 30%;
}

.Example-Div button{
 background-color: lightyellow;
 width: 20%;
}