@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}
html{
  height: 100%;
  /* background-color: #212121; */
  color: #212121;
}

.Main {
  text-align: center;
  /* background-color: #000; */
}
.Main_Container{
  padding: 27px;
}
#shape_container {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 89px;
  width: 100%;
}

#shape_container:before {
  content: '';
  position: absolute;
  top: 16;
  left: 0;
  height: 100%;
  width: 100%;
  border:2px solid #fff;
  background-color:#212121;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(100deg, 5deg);
}
/* #chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: red;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​ */

.Main-logo {
  animation: Main-logo-spin infinite 20s linear;
  height: 80px;
}

.Main-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: black;
}

.Main-title {
  font-size: 1.5em;
  color: #fff;
  position: relative;
  top: 50%;
  bottom: 0;
}

.Main-intro {
  font-size: large;
}
.Main-Navbar {
/* background-color: #000000; */
margin-top: 63px;
}
.Main-Navbar Button {
  /* background-color: #484848; */
  padding: 10px;
  color: #484848; 
  background-color: orangered;
  margin: 2%;
} 

/*Ginnah Component*/
.AllGinnah {
  padding: 30px;
}
.Ahref-link {
  font-size: 10px;
}
.Ginnah-Display {
  font-size: 12px;
}
.AllGinnahs-container {
}
.AllGinnahs-Add {
  float: left;
}
.AllGinnahs-Display {
  float: right;
}
.AddGinnah-form{
  font-size: 12px; 
}
.AddGinnah-form button {
  margin-top: 20px;
  width: 100%;
}
.ShowGinnah-Button{
  margin-top: 10px;
  height: 50px;
  width: 30%;
}

/*Kakia Component*/
.AllKakia {
  padding: 30px;
}
.Kakia-Display {
  font-size: 12px;
}
.AllKakias-container {
}
.AllKakias-Add {
  float: left;
}
.AllKakias-Display {
  float: right;
}
.AddKakia-form{
  font-size: 12px; 
}
.AddKakia-form button {
  margin-top: 20px;
  width: 100%;
}
.ShowKakia-Button{
  margin-top: 10px;
  height: 50px;
  width: 30%;
}

/*Tao Components*/
.AllTao {
  padding: 30px;
}
.Ahref-link {
  font-size: 10px;
}
.Tao-Display {
  font-size: 12px;
}
.AllTaos-container {
}
.AllTaos-Add {
  float: left;
}
.AllTaos-Display {
  float: right;
}
.AddTao-form{
  font-size: 12px; 
}
.AddTao-form button {
  margin-top: 20px;
  width: 100%;
}
.ShowTao-Button{
  margin-top: 10px;
  height: 50px;
  width: 30%;
}

.Example-Div button{
 background-color: lightyellow;
 width: 20%;
}